mixin add_absences(title)

  .page-rows
    h1.text-center= title
    h2.text-center
      span#abs_page_number.btn-large.btn-default
    h2.text-center.action_buttons
      button#abs_mark_dnc.btn.btn-large.btn-primary Mark Excused
      button#abs_unmark_dnc.btn.btn-large.btn-primary Mark Unexcused
    h3.text-center.action_buttons
      button#abs_home_page.btn.btn-large.btn-primary= '<<'
      button#abs_prev_page.btn.btn-large.btn-primary= '<'
      button#abs_next_page.btn.btn-large.btn-primary= '>'
      button#abs_last_page.btn.btn-large.btn-primary= '>>'

    span.vert-space

    .absence_table_container

  script.
    var current_abs_page = 1;
    var abs_record_count;
    var abs_pages_total;

    execute_query_and_build_abs_table(current_abs_page);
    $('#abs_prev_page').hide();

    window.onload = get_abs_counts()

    function get_abs_counts () {
      sql.execute({
        query: query_default.get_absences_dms_count_for_pagination
      }).then(function (data) {
        abs_record_count = data[0].absence_record_count;
        abs_pages_total = Math.ceil(abs_record_count / page_record_limit);
      }, function (err) {
        console.log(err)
      })
      return
    }

    $(document).ready(function(event){
      $('#abs_page_number').text('Page #' + current_abs_page);

      $('#abs_mark_dnc').click(function() {
        mark_abs_dnc_by_id();
      });

      $('#abs_unmark_dnc').click(function() {
        unmark_abs_dnc_by_id();
      });

      $('#abs_home_page').click(function() {
        current_abs_page = 1;
        execute_query_and_build_abs_table(1);
        $('#abs_page_number').text('Page #' + current_abs_page);
        $('#abs_prev_page').hide();
        $('#abs_next_page').show();
      });

      $('#abs_last_page').click(function() {
        current_abs_page = abs_pages_total;
        execute_query_and_build_abs_table(abs_pages_total);
        $('#abs_page_number').text('Page #' + current_abs_page);
        $('#abs_prev_page').show();
        $('#abs_next_page').hide();
      });

      $('#abs_next_page').click(function() {
        var new_page = current_abs_page  + 1;
        execute_query_and_build_abs_table(new_page);
        current_abs_page++
        $('#abs_page_number').text('Page #' + current_abs_page);

        if(current_abs_page == 1) {
          $('#abs_prev_page').hide();
          $('#abs_next_page').show();
        }else if (current_abs_page > 1 && current_abs_page < abs_pages_total) {
          $('#abs_prev_page').show();
          $('#abs_next_page').show();
        }else if (current_abs_page == abs_pages_total) {
          $('#abs_prev_page').show();
          $('#abs_next_page').hide();
        }

      });

      $('#abs_prev_page').click(function() {
        var new_page = current_abs_page  - 1;

        if (new_page < 1) {
          new_page = 1
          execute_query_and_build_abs_table(new_page);
          current_abs_page = 1
          $('#abs_prev_page').hide();
          $('#abs_next_page').show();
        } else {
          execute_query_and_build_abs_table(new_page);
          current_abs_page--

          if(current_abs_page == 1) {
            $('#abs_prev_page').hide();
            $('#abs_next_page').show();
          }else if (current_abs_page > 1 && current_abs_page < abs_pages_total) {
            $('#abs_prev_page').show();
            $('#abs_next_page').show();
          }else if (current_abs_page == abs_pages_total) {
            $('#abs_prev_page').show();
            $('#abs_next_page').hide();
          }

        }
        $('#abs_page_number').text('Page #' + current_abs_page);
      });
    });
