mixin add_lates(title)

  .page-rows
    h1.text-center= title
    h2.text-center
      span#late_page_number.btn-large.btn-default
    h2.text-center.action_buttons
      button#late_mark_dnc.btn.btn-large.btn-primary Mark Excused
      button#late_unmark_dnc.btn.btn-large.btn-primary Mark Unexcused
    h3.text-center.action_buttons
      button#late_home_page.btn.btn-large.btn-primary= '<<'
      button#late_prev_page.btn.btn-large.btn-primary= '<'
      button#late_next_page.btn.btn-large.btn-primary= '>'
      button#late_last_page.btn.btn-large.btn-primary= '>>'

    span.vert-space

    .late_table_container

  script.
    var current_late_page = 1;
    var late_record_count;
    var late_pages_total;

    execute_query_and_build_late_table(current_late_page);
    $('#late_prev_page').hide();

    window.onload = get_late_counts()

    function get_late_counts () {
      sql.execute({
        query: query_default.get_lates_dms_count_for_pagination
      }).then(function (data) {
        late_record_count = data[0].late_record_count;
        late_pages_total = Math.ceil(late_record_count / page_record_limit);
      }, function (err) {
        console.log(err)
      })
      return
    }

    $(document).ready(function(event){
      $('#late_page_number').text('Page #' + current_late_page);

      $('#late_mark_dnc').click(function() {
        mark_late_dnc_by_id();
      });

      $('#late_unmark_dnc').click(function() {
        unmark_late_dnc_by_id();
      });

      $('#late_home_page').click(function() {
        current_late_page = 1;
        execute_query_and_build_late_table(1);
        $('#late_page_number').text('Page #' + current_late_page);
        $('#late_prev_page').hide();
        $('#late_next_page').show();
      });

      $('#late_last_page').click(function() {
        current_late_page = late_pages_total;
        execute_query_and_build_late_table(late_pages_total);
        $('#late_page_number').text('Page #' + current_late_page);
        $('#late_prev_page').show();
        $('#late_next_page').hide();
      });

      $('#late_next_page').click(function() {
        var new_page = current_late_page  + 1;
        execute_query_and_build_late_table(new_page);
        current_late_page++
        $('#late_page_number').text('Page #' + current_late_page);

        if(current_late_page == 1) {
          $('#late_prev_page').hide();
          $('#late_next_page').show();
        }else if (current_late_page > 1 && current_late_page < late_pages_total) {
          $('#late_prev_page').show();
          $('#late_next_page').show();
        }else if (current_late_page == late_pages_total) {
          $('#late_prev_page').show();
          $('#late_next_page').hide();
        }

      });

      $('#late_prev_page').click(function() {
        var new_page = current_late_page  - 1;

        if (new_page < 1) {
          new_page = 1
          execute_query_and_build_late_table(new_page);
          current_late_page = 1
          $('#late_prev_page').hide();
          $('#late_next_page').show();
        } else {
          execute_query_and_build_late_table(new_page);
          current_late_page--

          if(current_late_page == 1) {
            $('#late_prev_page').hide();
            $('#late_next_page').show();
          }else if (current_late_page > 1 && current_late_page < late_pages_total) {
            $('#late_prev_page').show();
            $('#late_next_page').show();
          }else if (current_late_page == late_pages_total) {
            $('#late_prev_page').show();
            $('#late_next_page').hide();
          }

        }
        $('#late_page_number').text('Page #' + current_late_page);
      });
    });
